<div class="container forgot">
    <div class="forgot-box">
        <div class="heading">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <h3>Forgot Password</h3>
        <p>Enter your Registered Email Address</p>
        </div>
        <form action="/admin/enter-otp" mehtod="get">
        <div class="input-form">
        <ion-icon name="mail-outline"></ion-icon>
        <input type="email" name="email" class="input-otp" id="otp">
        </div>
        <div class="submit">
            <a href="/login" class="btn btn-primary">Back</a>
            <button class="btn btn-primary">Submit</button>
        </div>
        </form>
        </div>
</div>