

/*===============================
/bookstore/templates/jb_bookstore/css/custom.css
================================================================================*/
#style-switcher h3{font-size:13px !important;margin:5px 0 -5px 1px;text-transform:uppercase}#akeebasubs-steps #akeebasubs-steps-bar .step .numbers{padding:0px !important}#akeebasubs-steps-bar .numbers{background-color:#229955 !important}#akeeba-renderjoomla #akeebasubs #akeebasubs-steps #akeebasubs-steps-bar .active .numbers{background-color:#ffffff !important;color:#229955 !important}.j2store-wishlist-items .input-mini{width:12%;display:inline}.j2store-product-compare-container h2{font-size:18px;text-align:center}.itemRatingBlock{float:left}