<footer style="font-size: 3rem; left: 0;bottom: 0; height: 6rem" >
  <div class="t3-copyright">
    <div class="container">
      <div class="row" style="text-align: center;display:flex;justify-content:center;align-items:center">
        <!-- //COPYRIGHTS -->
        <div class="col-md-6 col-sm-6 col-12">
          <div class="col-md-12 copyright" style="display: flex;justify-content:space-around" >
            <div class="module">
              <small>Copyright © 2022 bookstore. All Rights Reserved. Created
                with
                <span style="color: #e02c3f">♥</span>
                by
                </small>
              <small><a href="https://prnvk002.github.io/Personal-website/" style="text-decoration:none">Pranav K V</a></small>

    
            </div>
            <div class="custom">
               <p>
                  <a href="https://github.com/PrnvK002/nodejs_firstproject"><ion-icon name="logo-github"></ion-icon></a>
                </p>
            </div>

          </div>
        </div>
        <!-- //FOOTER MENU -->
      
      </div>
    </div>
  </div>
</footer>