<div class="home">
  <div class="t3-mainbody container">

    <article itemscope="" itemtype="http://schema.org/Article">
      <meta
        itemscope=""
        itemprop="mainEntityOfPage"
        itemtype="https://schema.org/WebPage"
        itemid="https://google.com/article"
      />
      <meta itemprop="inLanguage" content="en-GB" />

      <!-- Aside -->
      <!-- // Aside -->

      <!-- Item tags -->
      <!-- // Item tags -->

      <section class="article-content clearfix" itemprop="articleBody">
        <div class="well text-center">
          <strong>404 Not found</strong>
          .</div>
        <p><img
            src="/images/jberror_page.png"
            alt="jberror page"
            class="img-responsive"
          />
        </p>
      </section>

      <!-- Footer -->
      <!-- // Footer -->

    </article>

  </div>
</div>