<body
  class="img js-fullheight"
>
  <section class="ftco-section">
    <div class="container">
    
      {{#if error}}
        <div id="error-msg" >
          <div id="system-message">
            <div class="alert alert-warning">
              <a class="close" data-dismiss="alert">×</a>

              <h4 class="alert-heading"></h4>
              <div>
                <p>{{error}}</p>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
      <div id="error-block" style="display: none;" >
          <div id="system-message">
            <div class="alert alert-success">
              <a class="close" data-dismiss="alert">×</a>

              <h4 class="alert-heading"></h4>
              <div>
                <p id="error-msg"></p>
              </div>
            </div>
          </div>
        </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
          <div class="login-wrap p-0">
            <h3 class="mb-4 text-center">Change Password</h3>
            <form action="/change-password" method="post" class="signin-form" onsubmit="return changePassword()">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  style="background:transparent;"
                  placeholder="Enter your older password"
                  name="password_old"
                  required
                  id="old"
                />
              </div>
              <div class="form-group">
                <input
                  id="new1"
                  type="password"
                  style="background:transparent;"
                  class="form-control"
                  name="password_new"
                  placeholder="Enter your new password"
                  required
                />
              </div>
               <div class="form-group">
                <input
                  id="new2"
                  type="password"
                  style="background:transparent;"
                  class="form-control"
                  name="confirm_password"
                  placeholder="confirm your new password"
                  required
                />
              </div>
              <div class="form-group">
                <button
                  type="submit"
                  class="form-control btn btn-primary submit px-3"
                >
                  Submit
                </button>
              </div>
           
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>

      function changePassword(){
        let oldPass = document.getElementById('old').value;
        let newPass1 = document.getElementById('new1').value;
        let newPass2 = document.getElementById('new2').value;

        if(oldPass.length > 6 && newPass1.length > 6 && newPass2.length > 6 && newPass1 == newPass2){
            return true;
        }else{
            document.getElementById('error-block').style.display = "block";
            document.getElementById('error-msg').innerHTML = `Please check the credentials that you have entered 
                                                                password should contain a minimum of 6 characters`;

            setTimeout(()=>{
            document.getElementById('error-block').style.display = "none";
            } , 3000);
            return false;
        }



      }

  </script>

</body>