<div class="home">
    <div class="container t3-mainbody">
        <div class="container forgot">
            <div class="forgot-box col-12 col-md-6" style="position : static ">
                <div class="heading">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <h3>New Mobile Number</h3>
                <p>Enter your New Mobile Number</p>
                </div>
                <form action="/send-phone" mehtod="post">
                <div class="input-form">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="phone" name="phone" style="font-size: 1rem;" class="input-otp" id="otp">
                </div>
                <div class="submit">
                    <a href="/profile" class="btn btn-primary">Back</a>
                    <button class="btn btn-primary">Submit</button>
                </div>
                </form>
                </div>
        </div>
    </div>
</div>