<div class="container forgot">
    <div class="forgot-box">
        <div class="heading">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <h3>OTP Cofirmation</h3>
        <p>Enter the otp that we sent to your mail</p>
        </div>
        <form action="/enter-otp" method="post">
        <div class="input-form">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <input type="number" name="otp" class="input-otp" id="otp">
        </div>
        <div class="submit">
            <a href="/forgot-password" class="btn btn-primary">Back</a>
            <button class="btn btn-primary">Submit</button>
        </div>
        </form>
        </div>
</div>